<h1>Edit Note</h1>
<%= form_for @notes do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <br />
  <br />
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br />
  <br />

  <%= f.submit %>
<% end %>